/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    color: #1f2937;
    line-height: 1.6;
}

/* Header */
header {
  padding: 1.25rem 0;
  border-bottom: 1px solid #e5e7eb;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease;
}

.logo img{
  height: 88px;
  width: auto;
  display: block;
  float: left;
}

.nav-menu ul{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #c41414;
  padding: 18px;
  padding-top: 30px;
}

.nav-menu li a {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(87, 87, 87);
  padding-top: 18px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 18px;
  text-align: center;
}

.home1{
  border-radius: 12px 0px 0px 12px;
  background-color: rgb(138, 179, 207);
  color: white;
}
.contactar1{
  border-radius: 0px 12px 12px 0px;
}

.nav-menu li a:hover {
  transition: background-color 0.3s ease;
  background-color: rgb(138, 179, 207);
  color: white;
}


.header-icons {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.header-icons i {
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

.header-icons i:hover {
  color: rgb(138, 179, 207);
}


/* Main content */
main {
    padding: 3rem 0;
    min-height: 60vh;
}



.main-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}
















































/* Footer */
footer {
    background-color: #f3f4f6;
    padding: 3rem 0 1.5rem;
    margin-top: 3rem;
}

.footer-title {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: #9ca3af;
}

.footer-links a:hover {
    color: #2563eb;
}

.payment-methods {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.payment-methods img {
    height: 24px;
}

.copyright {
    text-align: center;
    margin-top: 3rem;
    color: #9ca3af;
    font-size: 0.9rem;
}