body {
    font-family: 'Roboto', sans-serif;
}

:root{
--color-primari: #539041;
--color-secondari: #47488E;
--color-terciari: #F6B01F;
--color-quaternari: #ECECEC;
--color-text: #ffffff;
}

/* HEADER */

header{
  margin-bottom: -10px;
}

header .LogoHeader{
  float: inline-start;
}

header .logo{
  width: 112px;
  height: auto;display: block;
  margin-left: -8px;
}

header .login{
  padding-top: 15px;
  float: inline-end;
  display: flex;
  justify-content: center;
  color: var(--color-secondari);
}

header .avatar{
  width: 80px;
  height: auto;
  border-radius: 50px;
  margin-right: 16px;
}
header span{
  margin-top: 25px;
  margin-right: 17px;
}

header .barra {
  text-decoration: none;
  margin-top: 13px;
  width: 1px;
  height: 45px;
  background-color: var(--color-secondari);
  margin-right: 16px;
}

header .fa-solid {
  margin-top: 27px;
  padding-right: 14px;
}

/* SECCIÓ ENTRE HEADER I MAIN */
main .submenuHeader{
  background-color: var(--color-secondari);
  color: var(--color-text);
  width: 100%;
  height: 51px;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* MENÚ VERTICAL */
.menuVertical {
  background-color: var(--color-primari);
  min-height: 900px;
  padding: 0;
  margin: 0;
}

.menuVertical ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuVertical li {
  color: var(--color-text);
  padding: 16px 20px;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  border-bottom: 1px solid var(--color-quaternari);
  cursor: pointer;
}

.fa-solid{
  margin-right: 5px;
}

.cerrar{
  display: none;
}

.menuVertical li:hover {
  background-color: var(--color-secondari);
}

.menuVertical li.activat {
  background-color: var(--color-secondari);
}

.menuVertical i {
  width: 20px;
  text-align: center;
  font-size: 16px;
}

/* LLEVAR EL PADDING DE L'ESQUERRA */
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* FORMULARI */
.contentArea {
  background-color: var(--color-quaternari);
  padding: 13px 15px;
}

.fila-filtres label {
  color: var(--color-secondari);
  display: block;
  font-size: 16px;
  padding-bottom: 13px;
}

.fila-filtres input {
  width: 100%;
  padding: 6.5px;
  border: 1px solid var(--color-secondari);
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  float: inline-start;
}

.botons {
  display: flex;
  float: inline-end;
  gap: 15px;
}

.btn {
  margin-top: -8px;
  padding: 9px 18px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.buscar {
  background-color: var(--color-terciari);
  color: var(--color-text);
}

.btn.netejar {
  background-color: #9c9c9c;
  color: var(--color-text);
}

.btn:hover {
  font-weight: 600;
  opacity: 0.9;
}


.menuVertical li {
  transition: background-color 0.2s, font-weight 0.2s;
}

.menuVertical li:hover {
  background-color: var(--color-secondari);
  font-weight: 600;
}
