body {
    font-family: 'Roboto', sans-serif;
}

:root{
--color-primari: #539041;
--color-secondari: #47488E;
--color-terciari: #F6B01F;
--color-quaternari: #ECECEC;
}


header{
  margin-bottom: -10px;
}

header .logo{
  width: 112px;
  height: auto;display: block;
  margin-left: -8px;
}

header .login{
  padding-top: 15px;
  float: inline-end;
  display: flex;
  justify-content: center;
  color: var(--color-secondari);
}

header .avatar{
  width: 80px;
  height: auto;
  border-radius: 50px;
  margin-right: 16px;
}
header span{
  margin-top: 25px;
  margin-right: 17px;
}

header .barra {
  margin-top: 13px;
    width: 1px;
    height: 45px;
    background-color: var(--color-secondari);
    margin-right: 16px;
}


header .fa-solid {
  margin-top: 27px;
  padding-right: 14px;
}

main .submenuHeader{
  background-color: var(--color-secondari);
  color: var(--color-quaternari);
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}